# Rust build artifacts
/target/

# Vosk model files (optional - depending on if you want to include them in repo)
/model/*
!/model/.gitkeep

# IDE specific files
.vscode/
.idea/
*.iml

# OS specific files
.DS_Store
Thumbs.db

# Debug files
*.pdb
*.log

#vosk
*.lib
*.dll
/vosk-win64-0.3.45/
vosk-win64-0.3.45/
vosk-win64*